{% extends "base.html.twig" %}

{% block title %}
	Home page
{% endblock %}

{% block body %}
	<section class="produits">
		{% for product in products %}
			<article>
				<h2>{{ product.name }}</h2>
				<div class="metadata">Ecrit le ... a ... dans la categorie ...</div>
				<div class="content">
					<img src="https://picsum.photos/200" alt="">
					<p>{{ product.descriptif | raw }}</p>
					<a href="{{ path('product_show', {'id' : product.id }) }}" class="btn btn-primary">Lire la suite</a>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
