{% extends "base.html.twig" %}

{% block body %}
	<article>
		<h2>{{ product.name }}</h2>
		<div class="metadata">Ecrit le ... a ... dans la categorie ...</div>
		<div class="content">
			<img src="{{ product.picture }}" alt="">
			<p>{{ product.descriptif }}</p>
		</div>
	</article>
{% endblock %}
