{% extends "base.html.twig" %}

{% block body %}
	<article>
		<h2>Titre de l'article</h2>
		<div class="metadata">Ecrit le ... a ... dans la categorie ...</div>
		<div class="content">
			<img src="https://picsum.photos/200" alt="">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit tenetur pariatur veniam voluptatum autem exercitationem.</p>
			<p>Ad facilis voluptatibus placeat illum unde, repellendus maxime eius necessitatibus, cumque ratione enim saepe omnis!</p>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reprehenderit modi, labore quae voluptatibus architecto iste ipsum facilis quos necessitatibus, mollitia consequatur illo ex possimus dolore. Beatae dolor sed et eligendi eos, voluptatum unde esse nihil neque ratione quae architecto. Incidunt ipsam id debitis nesciunt consequuntur, autem eveniet dolores cupiditate?</p>
			<p>Debitis explicabo magnam repudiandae qui doloremque officia, temporibus laboriosam nulla aliquam cupiditate illum fuga expedita nesciunt est voluptas amet ex quibusdam maxime nihil. Libero voluptas consequuntur minus laborum nam facilis totam deleniti placeat dolorem quos, quia, illum est, optio dolore inventore perspiciatis distinctio quas dolorum atque ratione ducimus eos? Cupiditate.</p>
		</div>
	</article>
{% endblock %}
